.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}

.div1 {
    grid-column: 1 / span 5;
    grid-row: 1;
    background-color: #343a40;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.div2 {
    grid-row: span 7 / span 7;
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #ffffff;
    padding: 10px;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 1;
    background-color: #f1f1f1;
    padding: 10px;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 5;
    background-color: #f1f1f1;
    padding: 10px;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 7;
    background-color: #f1f1f1;
    padding: 10px;
}
